<div [formGroup]="form" class="mb-4">
    <h2 class="section-title">Availabilities</h2>
    
    <button mat-raised-button color="primary" (click)="addAvailability()">
      <mat-icon>add</mat-icon> Add Availability
    </button>
  
    <mat-list>
      <mat-list-item *ngFor="let availability of availabilitiesArray.controls; let i = index">
        <mat-icon mat-list-icon>schedule</mat-icon>
        <div mat-line>{{ getAvailabilityDescription(availability.value) }}</div>
        <div mat-line *ngIf="availability.value.note">Note: {{ availability.value.note }}</div>
        <button mat-icon-button (click)="editAvailability(i)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="removeAvailability(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </div>