<header class="header">
    <div class="header-container">
        <div class="logo">
            <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Logo" />
        </div>
        <div class="nav-group">
            <div class="location">
                <span class="location-icon">📍</span>
                <div class="location-details">
                    <span class="location-text">44000 Nantes</span>
                    <a routerLink="/update-location" class="location-link">Mettre à jour l'emplacement</a>
                </div>
            </div>
            <div class="header-buttons">
                <a routerLink="/find-stations" class="header-button">Trouver des stations</a>
                <a routerLink="/charging-stations" class="header-button">Publier votre borne</a>
            </div>
        </div>
        <div class="user-group">
            <div class="language-selector">
                <button class="language-button">
                    <span class="flag-icon">🇫🇷</span>
                    <span>FR</span>
                </button>
                <ul class="language-list">
                    <li class="language-option">
                        <a href="#" class="language-link">
                            <span class="flag-icon">🇫🇷</span>
                            <span>FR</span>
                        </a>
                    </li>
                    <li class="language-option">
                        <a href="#" class="language-link">
                            <span class="flag-icon">🇬🇧</span>
                            <span>EN</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!--div class="user-info">
                <span>Bonjour,</span>
                <a (click)="openLoginPopup($event)" class="account-link">Identifiez-vous</a>
            </div -->
            <div class="user-info" *ngIf="isAuthenticated$ | async; else notAuthenticated">
                <div class="profile-dropdown" (click)="toggleProfileMenu()" (clickOutside)="closeProfileMenu()">
                    <span>Bonjour, {{ (user$ | async)?.name || 'Utilisateur' }}</span>
                    <div class="profile-menu" *ngIf="showProfileMenu">
                        <a routerLink="/edit-profile" class="menu-item">
                            <i class="fas fa-user"></i> Modifier mon Profile
                        </a>
                        <a routerLink="/payment-info" class="menu-item">
                            <i class="fas fa-credit-card"></i> Information de Paiment
                        </a>
                        <a routerLink="/change-password" class="menu-item">
                            <i class="fas fa-lock"></i> Modifier Mot de passe
                        </a>
                        <a routerLink="/my-car" class="menu-item">
                            <i class="fas fa-car"></i> Ma Voiture EV
                        </a>
                        <div class="menu-separator"></div>
                        <a routerLink="/charging-stations" class="menu-item">
                            <i class="fas fa-charging-station"></i> Mes Stations
                        </a>
                        <a routerLink="/my-bookings" class="menu-item">
                            <i class="fas fa-calendar-alt"></i> Mes résérvations
                        </a>
                        <div class="menu-separator"></div>
                        <a (click)="logout($event)" class="menu-item logout">
                            <i class="fas fa-sign-out-alt"></i> Se Déconnecter
                        </a>
                        <button class="add-property-btn">Ajout Borne</button>
                    </div>
                </div>
            </div>
            <ng-template #notAuthenticated>
                <span>Bonjour,</span>
                <a (click)="openLoginPopup($event)" class="account-link">Identifiez-vous</a>
            </ng-template>
        </div>
    </div>
</header>